body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-card-answer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: flex-end;
  gap: 5px;
}

.menu a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border: none !important;
}

.active,
.menu a:hover {
  border: none !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 767px) {
  .menu {
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
